{% extends 'registration/login.html' %}

{% block login_image_class %}bg-password-image-2{% endblock %}
{% block login_title %}Password Reset{% endblock %}
{% block login_text %}
<div class="text-center">
  <p class="mb-4">Enter your email address and we will send you a link to reset or create your Webfolio password. Note that you must have logged in at least once with your NetID to reset your password.</p>
</div>
{% endblock %}

{% block login_alert %}{% endblock %}

{% block login_form %}
<form class="user" role="form" action="{% url 'password_reset' %}" method="post">
  <div class="form-group">
    <input type="email" class="form-control form-control-user" id="id_email" name="email"
        maxlength="254" autofocus placeholder="Enter Email Address &hellip;">
  </div>
  <div class="form-group">
    <button type="submit" value="login" class="btn btn-primary btn-user btn-block">
      Send Reset Token
    </button>
    {% csrf_token %}
  </div>
</form>
{% endblock %}

{% block login_footer %}
<hr>
<div class="text-center">
  <a class="small" href="{% url 'social:begin' 'google-oauth2' %}">Login with your NetID</a>
</div>
<div class="text-center">
  <a class="small" href="https://scs.georgetown.edu/programs/375/certificate-in-data-science/">Prospective Students</a>
</div>
{% endblock %}