{% extends 'registration/login.html' %}

{% block login_image_class %}bg-password-image-2{% endblock %}
{% block login_title %}Password Email Sent{% endblock %}
{% block login_text %}
<div class="text-center">
  <p class="mb-4">We've emailed you instructions for setting your password. You should be receiving them shortly.
  If you don't receive an email, please make sure you've entered the email address you registered with (e.g. your Georgetown email address with either the NetID prefix or the first.last name prefix), and check your spam folder.</p>
</div>
{% endblock %}

{% block login_alert %}{% endblock %}
{% block login_form %}{% endblock %}

{% block login_footer %}
<hr>
<div class="text-center">
  <a class="small" href="{% url 'social:begin' 'google-oauth2' %}">Login with your NetID</a>
</div>
<div class="text-center">
  <a class="small" href="https://scs.georgetown.edu/programs/375/certificate-in-data-science/">Prospective Students</a>
</div>
{% endblock %}
