{% extends "page.html" %}
{% load static %}

{% block stylesheets %}
{{ block.super }}
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block page_title %}Faculty{% endblock %}
{% block page_heading_extra %}{% endblock %}

{% block page_body %}
{% if faculty %}
<!-- Courses Data Table-->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">All Faculty Members</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Primary Role</th>
            <th>Courses</th>
            <th>Assignments</th>
          </tr>
        </thead>
        <tbody>
          {% for person in faculty %}
          <tr>
            <td>
              <a href="{{ person.get_absolute_url }}">{{ person.get_full_name }}</a>
            </td>
            <td>{{ person.primary_role }}</td>
            <td>{{ person.assignments.instructional.count }}</td>
            <td>{{ person.assignments.advisors.count }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div><!-- Courses Data Table card ends-->
{% else %}
{# No courses match the specified query #}
<div class="text-center">
  <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 50rem;"
    src="{% static 'img/undraw/people_search_wctu.svg' %}" alt="No Faculty Members" />
  <p class="lead">Someone should really start recruiting ... (no faculty found)!</p>
</div>
{% endif %}
{% endblock %}


{% block javascripts %}
{{ block.super }}
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script type="text/javascript">
  // Call the dataTables jQuery plugin
  $(document).ready(function () {
    $('#dataTable').DataTable({
      "order": [[0, "asc"]]
    });
  });
</script>
{% endblock %}