{% extends "page.html" %}
{% load static %}

{% block stylesheets %}
  {{ block.super }}
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block page_title %}Courses{% endblock %}
{% block page_heading_extra %}{% endblock %}

{% block page_body %}
  {% if courses %}
  <!-- Courses Data Table-->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">All Courses</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Course</th>
              <th>Title</th>
              <th>Cohort</th>
              <th>Hours</th>
              <th>Start</th>
              <th>End</th>
            </tr>
          </thead>
          <tbody>
            {% for course in courses %}
            <tr>
              <td>{{ course.course_id }}-{{ course.section|stringformat:"03d" }}</td>
              <td>{{ course.title }}</td>
              <td>{{ course.cohort.cohort }}</td>
              <td>{{ course.hours }}</td>
              <td>{% if course.start %}{{ course.start|date:"Y-m-d" }}{% endif %}</td>
              <td>{% if course.end %}{{ course.end|date:"Y-m-d" }}{% endif %}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div><!-- Courses Data Table card ends-->
  {% else %}
  {# No courses match the specified query #}
  <div class="text-center">
    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 50rem;" src="{% static 'img/undraw/alien_science_nonm.svg' %}"
      alt="No Courses" />
    <p class="lead">We must all be focusing on research (no courses found)!</p>
  </div>
  {% endif %}
{% endblock %}


{% block javascripts %}
  {{ block.super }}
  <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
  <script type="text/javascript">
    // Call the dataTables jQuery plugin
    $(document).ready(function() {
    $('#dataTable').DataTable({
      "order": [[2, "desc"]]
    });
    });
  </script>
{% endblock %}