{% extends 'page.html' %}

{% block page %}
<!-- 404 Error Text -->
<div class="text-center">
  {%block error_code %}<div class="error mx-auto" data-text="404">404</div>{% endblock %}
  <p class="lead text-gray-800 mb-5">{% block error_title %}Page Not Found{% endblock %}</p>
  <p class="text-gray-500 mb-0">{% block error_description %}It looks like you found a glitch in the matrix &hellip;{% endblock %}</p>
  <a href="/">&larr; Back to Safety</a>
</div>
{% endblock %}

{% block javascripts %}
{# Empty out JavaScripts to prevent further errors #}
{% endblock %}