<!-- Footer -->
<footer class="sticky-footer bg-white">
  <div class="container-fluid my-auto">
    <div class="row">
      <div class="col-lg-6">
        <div class="copyright text-left">
          <span>Copyright &copy; 2014-2020 Georgetown University, All Rights Reserved.</span><br />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="copyright text-right d-none d-lg-block">
          <span>Made with &spades; by <a href="https://github.com/bbengfort">@bbengfort</a><span>
        </div>
      </div>
    </div>
  </div>
</footer><!-- End of Footer -->