{% load static %}
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-icon">
      <i class="fa fa-graduation-cap"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Georgetown Data Science</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="#">
      <i class="fa fa-fw fa-chalkboard"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Courses
  </div>

  <!-- Nav Item - Cohort Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
      aria-controls="collapseTwo">
      <i class="fas fa-fw fa-school"></i>
      <span>Cohorts</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Cohort Admin:</h6>
        <a class="collapse-item" href="#">Cohorts</a>
        <a class="collapse-item" href="#">Courses</a>
        <a class="collapse-item" href="#">Capstones</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Faculty Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true"
      aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-user-graduate"></i>
      <span>Faculty</span>
    </a>
    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Faculty Admin:</h6>
        <a class="collapse-item" href="#">Faculty</a>
        <a class="collapse-item" href="#">Advisors</a>
        <a class="collapse-item" href="#">Instructors</a>
      </div>
    </div>
  </li>

  {% if user.is_staff %}
  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <div class="sidebar-heading">
    Admin
  </div>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'admin:index' %}">
      <i class="fas fa-fw fa-database"></i>
      <span>CMS</span>
    </a>
  </li>
  {% endif %}

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->