{% load static %}
{% load utils %}

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-icon">
      <img src="{% static 'img/seal-icon-light.png' %}" />
    </div>
    <div class="sidebar-brand-text">Georgetown Data Science</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item{% if page == 'overview' %} active{% endif %}">
    <a class="nav-link" href="{% url 'overview' %}">
      <i class="fa fa-fw fa-chalkboard"></i>
      <span>Overview</span></a>
  </li>

  <li class="nav-item{% if page == 'scheduling' %} active{% endif %}">
    <a class="nav-link" href="{% url 'scheduling' %}">
      <i class="fa fa-fw fa-calendar-alt"></i>
      <span>Scheduling</span></a>
  </li>

  <li class="nav-item{% if page == 'contacts' %} active{% endif %}">
    <a class="nav-link" href="{% url 'contact_list' %}">
      <i class="fa fa-fw fa-mail-bulk"></i>
      <span>Contacts</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Courses
  </div>

  <!-- Nav Item - Cohort Collapse Menu -->
  <li class="nav-item{% if page|startswith:'cohort' %} active{% endif %}">
    <a class="nav-link collapsed" href="#"
      data-toggle="collapse" data-target="#collapseCohort"
      aria-expanded="true" aria-controls="collapseCohort">
      <i class="fas fa-fw fa-school"></i>
      <span>Cohorts</span>
    </a>
    <div id="collapseCohort" class="collapse"
      aria-labelledby="collapseCohortHeading" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header" id="collapseCohortHeading">Cohort Admin:</h6>
        <a class="collapse-item" href="{% url 'cohort_list' %}">Cohorts</a>
        <a class="collapse-item" href="{% url 'course_list' %}">Courses</a>
        <a class="collapse-item" href="{% url 'capstone_list' %}">Capstones</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Faculty Collapse Menu -->
  <li class="nav-item{% if page|startswith:'faculty' %} active{% endif %}">
    <a class="nav-link collapsed" href="#"
      data-toggle="collapse" data-target="#collapseFaculty"
      aria-expanded="true" aria-controls="collapseFaculty">
      <i class="fas fa-fw fa-user-graduate"></i>
      <span>Faculty</span>
    </a>
    <div id="collapseFaculty" class="collapse"
      aria-labelledby="collapseFacultyHeading" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header" id="collapseFacultyHeading">Faculty Admin:</h6>
        <a class="collapse-item" href="{% url 'faculty_list' %}">Faculty</a>
        <a class="collapse-item" href="{% url 'assignment_list' %}">Assignments</a>
      </div>
    </div>
  </li>

  {% if user.is_staff %}
  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <div class="sidebar-heading">
    Admin
  </div>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'admin:index' %}">
      <i class="fas fa-fw fa-database"></i>
      <span>CMS</span>
    </a>
  </li>

  <!-- Nav Item - Admin Collapse Menu -->
  <li class="nav-item{% if page|startswith:'admin' %} active{% endif %}">
    <a class="nav-link collapsed" href="#"
      data-toggle="collapse" data-target="#collapseAdminTools"
      aria-expanded="true" aria-controls="collapseAdminTools">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Tools</span>
    </a>
    <div id="collapseAdminTools" class="collapse"
      aria-labelledby="collapseAdminToolsHeading" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header" id="collapseAdminToolsHeading">Scheduling Admin:</h6>
        <a class="collapse-item" href="{% url 'upload_schedule' %}">Upload Schedule</a>
        <a class="collapse-item" href="{% url 'calendar_events' %}">Calendar Events</a>
      </div>
    </div>
  </li>
  {% endif %}

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->